body {
    background-color: black;
    font-family: 'Muli', sans-serif;
    color: seashell;
    font-size: 16px;
    padding: 2rem;
}

h1 {
    font-size: 50px;
    color: white;
}

h3 {
    color: black;
}

a { 
    color: inherit;
} 

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.video {
    margin: 0 1 rem 0 0;
}

.campsite {
    max-width:100%;
    height:auto;
}

.phone {
    padding-top: 3rem;
    height: 3rem;
}

.link {
    transition: all .1s ease-in;
}

.button {
    background-color: #FFC759;
    border: none;
    color: #080705;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button2 {
    border-radius: 4px;
}

.fa-download {
    color: #080705;
}